<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Farewell</title>
</head>
<body>
<p>
<h1>
Goodbye... {{username}} user..!
한국어
</h1>
</p>
<p>
    See ya Again! From Marketer {{marketer}}! Thank you for Using service!
</p>

     <a href="http://localhost:8080/">Enjoy service again</a>



</body>
</html>