{{>layouts/header}}
<!--content-->
<p>
<h1>
Goodbye... {{username}} ..!
</h1>
</p>
<p>
    See ya Again! From Marketer {{marketer}}! Thank you for Using our service!
</p>

     <a href="http://localhost:8080/">Enjoy service again</a>

<!--footer-->
{{>layouts/footer}}

