{{>layouts/header}}
<!--content-->
<p>
<div class="bg-dark text-white p-2 ">
            <h1> Welcome  {{username}}! Nice to meet U! </h1>
</div>

</p>
<div class="ml-5">
<p>

             Today is {{date}}! Have a nice day!
</p>
    <div class="mb-5">
<p>
    <a href="http://localhost:8080/board/">게시판 이용</a>


</p>
    </div>
    <div class="mt-5">
    <a href="http://localhost:8080/farewell/"> End Service </a>
    </div>
<p>
    or use
</p>
    <a href="http://www.google.com/"> google link </a>
</div>
<!--footer-->
{{>layouts/footer}}

