{{>layouts/header}}

<!--   Content   -->
<div class="bg-dark text-white p-5">
<p>
<h1>{{marketer}} 마케터님 전용 페이지 입니다.</h1>
</p>
</div>
<p>
    {{username}} 님 과의 상담은 어떠셨나요? 설문에 응해주세요.
</p>

{{>layouts/footer}}


